@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

/* RESETS 
==================================================
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 20px 0;
  padding: 0 20px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 1rem;
}

form label {
  font-weight: 400;
  font-size: 18px;
}

#in-num {
  width: 6rem;
  margin-right: 1rem;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

#num-select-button {
  padding: 5px 15px;
  border-radius: 12px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #7bb7b7;
  text-align: center;
  transition: all 0.2s;
}

#num-select-button:hover {
  background-color: #538b9b;
  cursor: pointer;
}

#num-select-button:focus {
  outline: none;
}